
<h1 class="text-center">Checkers</h1>

<div class = "col-10 offset-1">
  <p class ="text-center">
    Welcome to online checkers!
    Click the new game button to get started.
  </p>
  
  <%= link_to "Click HERE to start a game", new_game_path, class: 'btn' %>

</div>